build
makefile
cadical

# SPOT created files #
#############################
spot/spot/taalgos/Makefile
spot/bench/emptchk/models/*.tgba
spot/bench/emptchk/Makefile
spot/bench/emptchk/Makefile.in
spot/bench/emptchk/defs
spot/bench/emptchk/pan*
spot/bench/stutter/*.ltl
spot/bench/stutter/Makefile
spot/bench/stutter/*.csv
spot/bench/stutter/run.mk
spot/bench/stutter/formulas
spot/bench/stutter/stutter_invariance_formulas
spot/bench/stutter/stutter_invariance_randomgraph
spot/bench/spin13/*.log
spot/bench/spin13/*.html
spot/bench/spin13/*.json
spot/bench/spin13/*.csv
spot/bench/spin13/*.tex
spot/bench/spin13/*.pdf
spot/bench/spin13/*.mk
spot/bench/spin13/*.stamp
spot/bench/spin13/auto/
spot/bench/spin13/Makefile
spot/bench/ltlcounter/*.eps
spot/bench/ltlcounter/results*
spot/bench/ltlcounter/defs
spot/bench/ltlcounter/out
spot/bench/ltlcounter/Makefile
spot/bench/wdba/defs
spot/bench/wdba/results.txt
spot/bench/wdba/Makefile
spot/bench/ltl2tgba/Makefile.in
spot/bench/ltl2tgba/Makefile
spot/bench/ltl2tgba/*.csv
spot/bench/ltl2tgba/*.json
spot/bench/ltl2tgba/*.log
spot/bench/ltl2tgba/defs
spot/bench/ltl2tgba/results.tex
spot/bench/dtgbasat/stats.mk
spot/bench/dtgbasat/nodups.ltl
spot/bench/dtgbasat/info.ltl
spot/bench/dtgbasat/Makefile
spot/bench/ltlclasses/defs
spot/bench/ltlclasses/out
spot/bench/ltlclasses/result*.fm
spot/bench/ltlclasses/*.eps
spot/bench/ltlclasses/Makefile
spot/bench/Makefile
spot/bench/Makefile.in
spot/bin/autcross
spot/bin/autfilt
spot/bin/dstar2tgba
spot/bin/genaut
spot/bin/genltl
spot/bin/ltl2tgba
spot/bin/ltl2tgta
spot/bin/ltlcross
spot/bin/ltldo
spot/bin/ltlfilt
spot/bin/ltlgrind
spot/bin/ltlsynt
spot/bin/randaut
spot/bin/randltl
spot/bin/spot
spot/bin/spot-x
spot/bin/*.a
spot/bin/*.1
spot/bin/*.7
spot/bin/lck-*
spot/bin/.deps
spot/bin/.libs
spot/bin/Makefile
spot/buddy/src/*.lo
spot/buddy/src/*.la
spot/buddy/src/.libs
spot/buddy/src/.deps
spot/buddy/src/Makefile.in
spot/buddy/src/Makefile
spot/buddy/src/bddtest
spot/buddy/src/*.pc
spot/buddy/examples/bddtest/Makefile
spot/buddy/examples/bddtest/Makefile.in
spot/buddy/examples/bddtest/.deps
spot/buddy/examples/bddtest/bddtest
spot/buddy/examples/milner/Makefile.in
spot/buddy/examples/milner/Makefile
spot/buddy/examples/milner/.deps
spot/buddy/examples/milner/.libs
spot/buddy/examples/milner/milner
spot/buddy/examples/bddcalc/Makefile.in
spot/buddy/examples/bddcalc/Makefile
spot/buddy/examples/bddcalc/lexer.cxx
spot/buddy/examples/bddcalc/parser.cxx
spot/buddy/examples/bddcalc/parser.c
spot/buddy/examples/bddcalc/parser.h
spot/buddy/examples/bddcalc/.deps
spot/buddy/examples/bddcalc/.libs
spot/buddy/examples/bddcalc/bddcalc
spot/buddy/examples/money/Makefile.in
spot/buddy/examples/money/Makefile
spot/buddy/examples/money/.deps
spot/buddy/examples/money/.libs
spot/buddy/examples/money/money
spot/buddy/examples/calculator/Makefile.in
spot/buddy/examples/calculator/Makefile
spot/buddy/examples/calculator/lexer.cxx
spot/buddy/examples/calculator/parser.cxx
spot/buddy/examples/calculator/parser.h
spot/buddy/examples/calculator/.deps
spot/buddy/examples/calculator/.libs
spot/buddy/examples/calculator/bddcalc
spot/buddy/examples/fdd/Makefile.in
spot/buddy/examples/fdd/Makefile
spot/buddy/examples/fdd/.deps
spot/buddy/examples/fdd/.libs
spot/buddy/examples/fdd/statespace
spot/buddy/examples/fdd/fdd
spot/buddy/examples/internal/Makefile.in
spot/buddy/examples/internal/Makefile
spot/buddy/examples/internal/.deps
spot/buddy/examples/internal/.libs
spot/buddy/examples/internal/bddtest
spot/buddy/examples/adder/Makefile.in
spot/buddy/examples/adder/Makefile
spot/buddy/examples/adder/adder
spot/buddy/examples/adder/.deps
spot/buddy/examples/adder/.libs
spot/buddy/examples/adder/adder
spot/buddy/examples/cmilner/Makefile.in
spot/buddy/examples/cmilner/Makefile
spot/buddy/examples/cmilner/.deps
spot/buddy/examples/cmilner/.libs
spot/buddy/examples/cmilner/milner
spot/buddy/examples/cmilner/cmilner
spot/buddy/examples/queen/Makefile.in
spot/buddy/examples/queen/Makefile
spot/buddy/examples/queen/.deps
spot/buddy/examples/queen/.libs
spot/buddy/examples/queen/queen
spot/buddy/examples/solitare/Makefile.in
spot/buddy/examples/solitare/Makefile
spot/buddy/examples/solitare/.deps
spot/buddy/examples/solitare/.libs
spot/buddy/examples/solitare/solitare
spot/buddy/examples/Makefile.in
spot/buddy/examples/Makefile
spot/buddy/m4/ltoptions.m4
spot/buddy/m4/ltsugar.m4
spot/buddy/m4/ltversion.m4
spot/buddy/m4/lt~obsolete.m4
spot/buddy/m4/libtool.m4
spot/buddy/tools/config.guess
spot/buddy/tools/config.sub
spot/buddy/tools/depcomp
spot/buddy/tools/install-sh
spot/buddy/tools/ltmain.sh
spot/buddy/tools/missing
spot/buddy/tools/mkinstalldirs
spot/buddy/doc/Makefile.in
spot/buddy/doc/Makefile
spot/buddy/Makefile.in
spot/buddy/Makefile
spot/buddy/aclocal.m4
spot/buddy/configure
spot/buddy/tools
spot/buddy/config.log
spot/buddy/config.status
spot/buddy/libtool
spot/buddy/*.tar.gz
spot/buddy/autom4te.cache
spot/buddy/config.h
spot/buddy/config.h.in
spot/buddy/stamp-h1
spot/debian/*.ex
spot/debian/changelog
spot/doc/tl/*.bbl
spot/doc/tl/*.blg
spot/doc/tl/*.idx
spot/doc/tl/*.log
spot/doc/tl/*.out
spot/doc/tl/tmp.t2d
spot/doc/tl/*.ilg
spot/doc/tl/*.ind
spot/doc/tl/*.fls
spot/doc/tl/*.fdb_latexmk
spot/doc/tl/auto
spot/doc/tl/_region_.tex
spot/doc/org/!spot2.svg
spot/doc/org/*.png
spot/doc/org/err
spot/doc/org/*.html
spot/doc/org/*.csv
spot/doc/org/*.json
spot/doc/org/scheck.ltl
spot/doc/org/sum.py
spot/doc/org/init.el
spot/doc/org/fagfb
spot/doc/org/gfagfb
spot/doc/org/bogus
spot/doc/org/bogus-grind
spot/doc/org/example.hoa
spot/doc/org/sample.ltl
spot/doc/org/*.ltl
spot/doc/org/*.hoa
spot/doc/org/g++wrap
spot/doc/org/*.fls
spot/doc/org/sitemap.org
spot/doc/org/plantuml.jar
spot/doc/Doxyfile
spot/doc/Makefile
spot/doc/spot.html
spot/doc/spot.latex
spot/doc/spot.tag
spot/doc/*.pdf
spot/doc/stamp
spot/doc/*.tmp
spot/doc/dot
spot/doc/org-stamp
spot/doc/doxygen_sqlite3.db
spot/doc/userdoc/
spot/lib/*.alias
spot/lib/*.sed
spot/lib/alloca.h
spot/lib/configmake.h
spot/lib/dummy.c
spot/lib/errno.h
spot/lib/fcntl.h
spot/lib/getopt-cdefs.h
spot/lib/getopt.h
spot/lib/inttypes.h
spot/lib/libgnu.a
spot/lib/limits.h
spot/lib/locale.h
spot/lib/stdalign.h
spot/lib/stdint.h
spot/lib/stdio.h
spot/lib/stdlib.h
spot/lib/string.h
spot/lib/strings.h
spot/lib/sys/
spot/lib/sysexits.h
spot/lib/time.h
spot/lib/unistd.h
spot/lib/wchar.h
spot/lib/wctype.h
spot/lib/Makefile
spot/m4/libtool.m4
spot/m4/ltoptions.m4
spot/m4/ltsugar.m4
spot/m4/ltversion.m4
spot/m4/lt~obsolete.m4
spot/m4/argz.m4
spot/python/.deps
spot/python/.libs
spot/python/spot/.libs
spot/python/Makefile
spot/python/Makefile.in
spot/python/*.la
spot/python/buddy.py*
spot/python/*.lo
spot/python/*.loT
spot/python/*_wrap.*
spot/python/*.pyc
spot/python/*/spotimg
spot/python/spot/_gen.cpython-38-x86_64-linux-gnu.la
spot/python/spot/_impl.cpython-38-x86_64-linux-gnu.la
spot/python/spot/_ltsmin.cpython-38-x86_64-linux-gnu.la
spot/spot/gen/.libs/libspotgen.so.0.0.0
spot/spot/gen/.libs/libspotgen.so.0.0.0T
spot/spot/ltsmin/.libs/libspotltsmin.so.0.0.0
spot/spot/ltsmin/.libs/libspotltsmin.so.0.0.0T
spot/spot/ltsmin/libspotltsmin.la
spot/spot/kripke/Makefile
spot/spot/mc/Makefile
spot/python/spot/impl.py
spot/python/spot/ltsmin.py
spot/python/spot/gen.py
spot/python/__pycache__/
spot/python/spot/__pycache__/
spot/spot/twa/.deps
spot/spot/twa/.libs
spot/spot/twa/*.lo
spot/spot/twa/*.la
spot/spot/twa/Makefile
spot/spot/twa/Makefile.in
spot/spot/parseaut/position.hh
spot/spot/parseaut/parseaut.cc
spot/spot/parseaut/parseaut.output
spot/spot/parseaut/parseaut.hh
spot/spot/parseaut/scanaut.cc
spot/spot/parseaut/stack.hh
spot/spot/parseaut/location.hh
spot/spot/parseaut/Makefile
spot/bin/0
spot/spot/ta/Makefile
spot/spot/twacube/Makefile
spot/spot/twacube_algos/Makefile
spot/spot/priv/Makefile
spot/spot/graph/Makefile
spot/spot/gen/libspotgen.la
spot/spot/gen/Makefile
spot/picosat/Makefile
spot/spot/tl/.deps
spot/spot/tl/Makefile
spot/spot/tl/Makefile.in
spot/spot/tl/libtl.a
spot/spot/tl/*.lo
spot/spot/tl/*.la
spot/spot/tl/.libs
spot/spot/misc/Makefile
spot/spot/misc/Makefile.in
spot/spot/misc/.deps
spot/spot/misc/.libs
spot/spot/misc/*.lo
spot/spot/misc/*.la
spot/spot/misc/_config.h
spot/spot/twaalgos/gtec/.deps
spot/spot/twaalgos/gtec/.libs
spot/spot/twaalgos/gtec/*.lo
spot/spot/twaalgos/gtec/*.la
spot/spot/twaalgos/gtec/Makefile
spot/spot/twaalgos/gtec/Makefile.in
spot/spot/twaalgos/.deps
spot/spot/twaalgos/.libs
spot/spot/twaalgos/*.lo
spot/spot/twaalgos/*.la
spot/spot/twaalgos/Makefile
spot/spot/twaalgos/Makefile.in
spot/spot/ltsmin/*.dve2C
spot/spot/ltsmin/*.dve.cpp
spot/spot/ltsmin/defs
spot/spot/ltsmin/*.dir
spot/spot/ltsmin/*.spins
spot/spot/ltsmin/*.c
spot/spot/ltsmin/check
spot/spot/ltsmin/modelcheck
spot/spot/ltsmin/Makefile
spot/spot/parsetl/.deps
spot/spot/parsetl/Makefile
spot/spot/parsetl/Makefile.in
spot/spot/parsetl/location.hh
spot/spot/parsetl/parsetl.cc
spot/spot/parsetl/parsetl.hh
spot/spot/parsetl/parsetl.output
spot/spot/parsetl/scantl.cc
spot/spot/parsetl/position.hh
spot/spot/parsetl/readltl
spot/spot/parsetl/stack.hh
spot/spot/parsetl/*.lo
spot/spot/parsetl/*.la
spot/spot/parsetl/.libs
spot/spot/.deps
spot/spot/Makefile
spot/spot/Makefile.in
spot/spot/.libs
spot/spot/libspot.la
spot/spot/_.cc
spot/spot/*.log
spot/spot/*.dir
spot/spot/*.pc
spot/elisp/Makefile
spot/tests/Makefile
spot/tests/core/acc
spot/tests/core/apcollect
spot/tests/core/bdddict
spot/tests/core/bddprod
spot/tests/core/bitvect
spot/tests/core/blue_counter
spot/tests/core/checkpsl
spot/tests/core/checkta
spot/tests/core/complement
spot/tests/core/consterm
spot/tests/core/cube
spot/tests/core/defs
spot/tests/core/.deps
spot/tests/core/*.dot
spot/tests/core/bricks
spot/tests/core/eltl2tgba
spot/tests/core/emptchk
spot/tests/core/defs
spot/tests/core/equals
spot/tests/core/expect
spot/tests/core/expldot
spot/tests/core/explicit
spot/tests/core/explicit2
spot/tests/core/explicit3
spot/tests/core/explprod
spot/tests/core/graph
spot/tests/core/genltl
spot/tests/core/input
spot/tests/core/intvcomp
spot/tests/core/intvcmp2
spot/tests/core/kind
spot/tests/core/kripkecat
spot/tests/core/length
spot/tests/core/.libs
spot/tests/core/ikwiad
spot/tests/core/ltl2dot
spot/tests/core/ltl2text
spot/tests/core/ltlmagic
spot/tests/core/ltlprod
spot/tests/core/ltlrel
spot/tests/core/lunabbrev
spot/tests/core/Makefile
spot/tests/core/Makefile.in
spot/tests/core/maskacc
spot/tests/core/mempool
spot/tests/core/minterm
spot/tests/core/mixprod
spot/tests/core/nequals
spot/tests/core/nenoform
spot/tests/core/ngraph
spot/tests/core/output1
spot/tests/core/output2
spot/tests/core/parity
spot/tests/core/parse_print
spot/tests/core/powerset
spot/tests/core/*.ps
spot/tests/core/randltl
spot/tests/core/randtgba
spot/tests/core/readsat
spot/tests/core/readsave
spot/tests/core/reduc
spot/tests/core/reduceu
spot/tests/core/reductau
spot/tests/core/reductaustr
spot/tests/core/reduccmp
spot/tests/core/reductgba
spot/tests/core/sccif
spot/tests/core/stdout
spot/tests/core/spotlbtt
spot/tests/core/syntimpl
spot/tests/core/taatgba
spot/tests/core/tgbagraph
spot/tests/core/tgbaread
spot/tests/core/tostring
spot/tests/core/tripprod
spot/tests/core/trival
spot/tests/core/tunabbrev
spot/tests/core/tunenoform
spot/tests/core/twacube
spot/tests/core/unabbrevwm
spot/tests/core/safra
spot/tests/sanity/Makefile.in
spot/tests/sanity/Makefile
spot/tests/sanity/incltest.cc
spot/tests/sanity/incltest.tmp
spot/tests/ltsmin/defs
spot/tests/ltsmin/modelcheck
spot/tests/ltsmin/testconvert
spot/tests/python/Makefile
spot/tests/python/Makefile.in
spot/tests/python/run
spot/tests/*.dir
spot/tests/run
spot/tests/*.dve2C
spot/tests/*.dve.cpp
spot/tools/ar-lib
spot/tools/depcomp
spot/tools/install-sh
spot/tools/missing
spot/tools/mkinstalldirs
spot/tools/py-compile
spot/tools/config.guess
spot/tools/config.sub
spot/tools/ltmain.sh
spot/tools/compile
spot/tools/ylwrap
spot/tools/x-to-1
spot/tools/test-driver
spot/Makefile
spot/Makefile.in
spot/config.log
spot/config.status
spot/aclocal.m4
spot/autom4te.cache
spot/libtool
spot/auto
spot/*.gz
spot/*.patch
spot/*.o
spot/*~
spot/\#*#
spot/.*
spot/!.gitignore
spot/*.bak
spot/*.err
spot/stdout
spot/*.lo
spot/*.la
spot/*.orig
spot/*.rej
spot/*.old
spot/TAGS
spot/*.log
spot/callgrind.*
spot/ms_print.*
spot/massif.*
spot/pan.*
spot/*.dvi
spot/*.aux
spot/*.ps
spot/*.pdf
spot/*.toc
spot/massif.*
spot/*.zip
spot/*.S
spot/*.tgba
spot/*.zip
spot/*.s
spot/*.ii
spot/cachegrind.*
spot/*.gcda
spot/*.gcno
spot/*.info
spot/ltdl
spot/config.h
spot/config.h.in
spot/spot/misc/_config.h
spot/_configs.sed
spot/stamp-h1
spot/*.trs
spot/_*_
spot/spot-*/*
spot/config.cache
spot/*.json
spot/*.fdb_latexmk
spot/*.xz
spot/dt*a-sat.cnf
spot/dt*a-sat.out
spot/dt*a-sat.dbg
spot/*.exe
spot/*.tex
spot/*.out
spot/*.cnf
spot/*.html
spot/*.dstar
spot/*.satlog
spot/*.png
spot/*.svg
spot/GPATH
spot/GRTAGS
spot/GSYMS
spot/GTAGS
spot/*.xz
spot/*.build
spot/*.deb
spot/*.changes
spot/*.dsc
spot/*.gcov
spot/spot.spec
spot/python/buddy_wrap.cxx

